# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDEs
.idea/
.vscode/

# Data
data/processed/

# vectorStore
data/vectorStore/

# uie_pytorch
uie_pytorch/

# Finetuned models
finetuned/checkpoint/

# Logs
*.log

# OS specific
.DS_Store

# env
.env